.footer {
  display: flex;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  align-items: flex-start;
  justify-content: space-between;

  @include response-to(medium) {
    flex-wrap: wrap;
    padding-left: 0;
  }

  @include response-to(small) {
    display: block;
  }

  &__item {
    flex: 0 0 15%;

    @include response-to(large) {
      flex: 0 0 18%;
    }

    @include response-to(medium) {
      flex: 0 0 30%;
      padding-left: 20px;
    }

    @include response-to(small) {
      margin-top: 20px;
    }

    &:first-of-type,
    &:last-of-type {
      flex: 0 0 30%;

      @include response-to(large) {
        flex: 0 0 28%;
      }
    }

    &:first-of-type {

      @include response-to(medium) {
        flex: 0 0 30%;
      }
    }

    &:last-of-type {

      @include response-to(medium) {
        flex: 0 0 50%;
        margin-top: 20px;
      }
    }

    &_caption {
      font-size: 18px;
      color: #000;
      margin-bottom: 25px;
    }

    &_text {
      font-size: 14px;
    }
  }

  &__menu {

    li {
      margin-bottom: 10px;

      a  {
        color: #000;
        text-decoration: underline;
        font-size: 14px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__form {
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: flex-start;
    height: 44px;

    @include response-to(small) {
      flex-direction: column;
      margin-bottom: 80px;
    }

    &_input {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 10px;
      border: 1px solid #111;
      border-right: unset;
      font-size: 16px;
      height: 100%;
      flex: 60%;

      @include response-to(large) {
        flex: 0 0 75%;
      }

      @include response-to(small) {
        flex: unset;
        text-align: center;
        width: 100%;
        border-right: 1px solid #111;
        margin-bottom: 15px;
        min-height: 44px;
        max-height: 44px;
        display: block;
      }
    }

    &_btn {
      @include flex-center();
      height: 100%;
      flex: 40%;
      border: none;
      border-radius: 0;
      background-color: #5EB936;
      font-size: 16px;
      cursor: pointer;
      font-weight: bold;
      color: #fff;

      @include response-to(large) {
        flex: 0 0 25%;
      }

      @include response-to(small) {
        flex: unset;
        width: 100%;
        min-height: 44px;
        max-height: 44px;
        display: block;
      }
    }
  }
}