.header {
  padding: 22px 0;

  @include response-to(small) {
    padding: 5px 0 10px;
  }

  &__wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 193px;
    flex: 0 0 193px;
    margin-right: 32px;

    @include response-to(large) {
      margin-right: 25px;
    }

    @include response-to(small) {
      width: 93px;
      flex: 0 0 93px;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    &-mob-menu {
      display: none;
      position: fixed;
      z-index: 1001;
      left: 20px;
      top: 50px;
      transform: translateX(-120vw);
      @include transition-ease;
      width: 150px;

      @include response-to(medium) {
        display: block;

        &.active {
          transform: translateX(0);
        }
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    margin-right: 24px;

    @include response-to(large) {
      margin-right: 15px;
    }

    @include response-to(small) {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }
  }

  .header__search {
    position: relative;

    &_icon {
      background-image: url('../../img/header-search-icon.svg');
    }

    &_form-wrap {
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;
      z-index: -1;
    }
  }

  &__login {
    background-image: url('../../img/login.svg');
  }

  &__wishlist {
    background-image: url('../../img/wish-icon.svg');
  }

  &__lang {
    background-image: url('../../img/lang-icon.svg');
  }

  &__cart {
    width: 115px;
    height: 48px;
    border-radius: 4px;
    position: relative;
    border: 1px solid #05B9FF;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    background-repeat: no-repeat;
    background-size: initial;
    background-image: url('../../img/cart-con.svg');
    background-position: 17px center;
    color: #05B9FF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;

    @include response-to(small) {
      width: 48px;
      padding-left: 0;
      background-position: center;
    }

    &_amount {
      position: absolute;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      color: #fff;
      top: 5px;
      left: 39px;
      z-index: 1;

      @include response-to(small) {
        left: 32px;
      }

      &:before {
        position: absolute;
        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        background: #05B9FF;
        border-radius: 50%;
        width: 17px;
        height: 17px;
      }
    }

    &_total {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;

      @include response-to(small) {
        display: none;
      }
    }
  }
}