.archive {

  .woocommerce-breadcrumb {
    display: none;
  }

  &-wrap {
    width: 100%;
  }

  &-container {
    display: flex;
    width: 100%;

    .archive-wrap {
      padding-top: 24px;

      &__header {
        width: 100%;
        margin-bottom: 3px;

        &_top {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 32px;
        }

        &_found {
          font-size: 20px;
          line-height: 23px;
        }

        &_bottom {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
        }

        &_order {
          display: flex;
          align-items: center;

          &-note {
            color: #999;
            margin-right: 5px;
            font-size: 18px;
            line-height: 24px;
          }
        }

        &_cats {
          display: flex;
        }

        &_cat {
          padding: 3px 28px 3px 3px;
          font-size: 16px;
          line-height: 19px;
          border: 1px solid transparent;
          @include transition-ease;
          cursor: pointer;
          position: relative;

          &:not(:last-of-type) {
            margin-right: 28px;
          }

          &:hover {
            border-color: #0B0A0B;
          }

          .remove {
            position: absolute;
            font-size: 25px;
            @include flex-center();
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    .sidebar {
      flex: 0 0 240px;
      padding-right: 20px;

      @media screen and (max-width: 1023px) {
        width: 100vw;
        background-color: #fff;
        position: fixed;
        right: 100%;
        top: 0;
        bottom: 0;
        overflow: hidden;
        color: #aaa;
        z-index: 100000;
        transition: transform .25s ease;
        margin: 0;
        opacity: 1;
        display: block;
        height: 100%;
        overflow-y: auto;
        padding: 20px;
      }

      .filters__caption {
        margin-top: 24px;
        font-size: 20px;
        line-height: 23px;
        color: #0B0A0B;
      }

      #mobile-close-sidebar {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: none;
        border: 1px solid $primary-color;
        border-radius: 4px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
        background-image: url('../../img/filters-close.svg');

        @media screen and (max-width: 1023px) {
          display: block;
        }
      }
    }

    &.activeslide .sidebar{
      transform: translate3d(100%,0,0);
    }
  }
}