.header__menu_container {
  width: 100%;
  @include transition-ease;

  @include response-to(medium) {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(#000, .7);
    z-index: -1;
    opacity: 0;

    &.active {
      z-index: 1000;
      opacity: 1;

      .menu {
        transform: translateX(0);
      }

      .close {
        z-index: 100;
        transform: translateX(0);
      }
    }
  }

  .close {
    transform: translateX(-120px);
    position: absolute;
    z-index: -1;
    top: 60px;
    @include transition-ease;
    border-radius: 50%;
    left: 65%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 5px 23px rgba(188, 207, 219, .35);
    border-top: 1px solid #f8f8f8;
    display: none;

    @include response-to(medium) {
      display: block;
    }
  }

  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    
    @include response-to(medium) {
      padding-top: 100px;
      position: absolute;
      padding-left: 20px;
      left: 0;
      top: 0;
      align-items: flex-start;
      bottom: 0;
      width: 80%;
      background-color: #fff;
      max-width: 100%;
      flex-direction: column;
      transform: translateX(-120vw);
      @include transition-ease;
    }

    &-item {
      padding: 8px 0;
      position: relative;

      &:not(:last-of-type) {
        margin-right: 32px;

        @include response-to(large) {
          margin-right: 15px;
        }
      }

      a {
        font-size: 18px;
        line-height: 21px;
      }

      &.menu-item-has-children {
        padding-right: 28px;

        &:before {
          position: absolute;
          content: '';
          width: 9px;
          height: 6px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          background-image: url('../../img/menu-arr.svg');
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .sub-menu {
        position: absolute;
        background-color: #fff;
        border: 1px solid #EEE;
        min-width: 100%;
        width: auto;
        top: 100%;
        @include transition-ease;
        left: 0;
        z-index: -1;
        opacity: 0;

        & > .menu-item {
          padding: 3px 5px;
        }
      }

      &:hover > .sub-menu {
        z-index: 10;
        opacity: 1;
      }
    }
  }
}

.mob-menu-btn {
  display: none;
  width: 19px;
  height: 18px;
  position: relative;
  margin-left: 15px;
  cursor: pointer;

  @include response-to(medium) {
    display: block;
  }

  &:before,
  &:after {
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #1F1F1F;
    content: '';
    display: block;
    @include transition-ease;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &-inner {
    position: absolute;
    @include transition-ease;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #1F1F1F;
    height: 2px;
    width: 10px;
  }
}