.woocommerce-message:before,
.woocommerce-error:before,
.woocommerce-info:before {
  line-height: 25px;
  content: "";
  padding: 0;
  display: block;
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 1em;
  text-align: center;
  color: #fff;
}

.woocommerce-message {

  a {
    color: #00b9ff;
  }
}

.woocommerce-info {

  a {
    color: #00b9ff;
  }
}

.return-to-shop {
  
  a {
    color: #00b9ff;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}