.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  &.related {
    display: block;
  }

  & > h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 14px;
    font-weight: normal;
  }

  @include response-to(medium) {
    justify-content: space-around;
  }

  .product {
    padding: 10px 20px 20px;
    width: 24%;
    margin-bottom: 20px;
    flex: 0 24%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 160px;
    position: relative;
    @include transition-ease;
    min-width: 230px;
    max-width: 240px;

    @include response-to(medium) {
      margin: 1%;
    }

    @include response-to(small) {
      margin: 2%;
    }

    @media (max-width: 500px) {
      width: 49%;
      min-width: unset;
      max-width: 270px;
      flex: unset;
      margin: 0 0 15px 0;
    }

    &:hover {
      box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.04);

      .add_to_cart_button {
        transform: translateX(-50%) translateY(-133px);
        opacity: 1;
        z-index: 10;
      }

      .woocommerce-loop-product__title {
        color: $primary-color;
      }
    }

    .added_to_cart {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      text-align: center;
      padding: 3px 0;
      background-color: rgba(green, .7);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .woocommerce-loop-product {

      &__title {
        margin-bottom: 8px;
        @include transition-ease;
        height: 50px;
        overflow: hidden;
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;

        @include response-to(small) {
          font-size: 14px;
        }
      }

      &__img {
        position: relative;
        overflow: hidden;
        height: 210px;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;

        @include response-to(small) {
          height: 150px;
        }

        .onsale {
          display: none;
        }

        img {
          max-height: 100%;
          width: auto;
          display: block;
        }
      }
    }

    .price {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;

      @include response-to(small) {
        font-size: 16px;
      }

      del {
        order: 2;
      }

      ins {
        order: 1;
        margin-right: 9px;
        font-weight: normal;
        color: #999;
        text-decoration: line-through;
      }
    }

    .add_to_cart_button {
      position: absolute;
      white-space: nowrap;
      z-index: -1;
      opacity: 0;
      @include transition-ease;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(0);
      background-color: $primary-color;
      padding: 12px 40px;
      border: 1px solid $primary-color;
      text-transform: uppercase;
      color: #fff;

      @include response-to(small) {
        display: none;
      }
    }
  }
}